{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    
    #next {
        background-color: aqua; 
    }

    body {
        background-color:blue;
    }

    .text {
        color:white;
        text-align: center;
        margin-top:50px;
    }

    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <h1 class = "text">Display</h1>
    <div id="map">

    </div>
    
</body>
<script>

var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');
//var socket = new WebSocket.Server({
   // port: 5000
//});
  //var socket = new WebSocket(
       // "wss://127.0.0.1:8000/draw/display?");

 

socket.onmessage = function(receivedMessage) {
    var received = JSON.parse(receivedMessage.data);
    if (received.version == "display") {

        const user = document.createElement("h3");

        const name = document.createTextNode(received.name + " likes ");

        var size = 50;
      /*  var image = document.createElement('img');
        image.attr('src', received.genre_1_src);
        
        image.attr('height', size);
        image.attr('width', size);*/

        user.className = "text";

        user.appendChild(name);

        try {
            if (received.genre_1_name != "null") {
                var image = $('<img />', { 
                    id: 'bubbles',
                    src: received.genre_1_src,
                    alt: received.genre_1_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image.appendTo(user);
            }

            if (received.genre_2_name != "null") {
                var image2 = $('<img />', { 
                    id: 'bubbles',
                    src: received.genre_2_src,
                    alt: received.genre_2_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image2.appendTo(user);
            }

            if (received.genre_3_name != "null") {
                var image3 = $('<img />', { 
                    id: 'bubbles',
                    src: received.genre_3_src,
                    alt: received.genre_3_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });
            }

            image3.appendTo(user);

        } catch(err) {

        }

        const artists = document.createTextNode(" and their favorite artists are ");

        user.appendChild(artists);

        try {
            if (received.artist_1_name != "null") {
                var image = $('<img />', { 
                    id: 'bubbles',
                    src: received.artist_1_src,
                    alt: received.artist_1_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image.appendTo(user);
            }

            if (received.artist_2_name != "null") {
                var image2 = $('<img />', { 
                    id: 'bubbles',
                    src: received.artist_2_src,
                    alt: received.artist_2_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image2.appendTo(user);
            }

            if (received.artist_3_name != "null") {
                var image3 = $('<img />', { 
                    id: 'bubbles',
                    src: received.artist_3_src,
                    alt: received.artist_3_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image3.appendTo(user);
            }

            if (received.artist_4_name != "null") {
                var image4 = $('<img />', { 
                    id: 'bubbles',
                    src: received.artist_4_src,
                    alt: received.artist_4_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image4.appendTo(user);
            }

            if (received.artist_5_name != "null") {
                var image5 = $('<img />', { 
                    id: 'bubbles',
                    src: received.artist_5_src,
                    alt: received.artist_5_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image5.appendTo(user);
            }

            if (received.artist_6_name != "null") {
                var image6 = $('<img />', { 
                    id: 'bubbles',
                    src: received.artist_6_src,
                    alt: received.artist_6_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image6.appendTo(user);
            }

        } catch(err) {

        }

        const album = document.createTextNode("\nOne of their must-see albums are ");

        user.appendChild(album);

        try {
            if (received.album_name != "null") {
                var image = $('<img />', { 
                    id: 'bubbles',
                    src: received.album_src,
                    alt: received.album_name,
                    width: size,
                    height: size,
                    display: 'inline-block'
                });

                image.appendTo(user);
            }

        } catch(err) {

        }

        const songs = document.createTextNode("\n. Some of their awesome songs are ");

        user.appendChild(songs);

        try {
            if (received.songs_1_name != "null") {
                const song = document.createTextNode(received.songs_1_name);

                user.appendChild(song);
            }
            if (received.songs_2_name != "null") {
                const song = document.createTextNode(received.songs_2_name);

                user.appendChild(song);
            }
            if (received.songs_3_name != "null") {
                const song = document.createTextNode(received.songs_3_name);

                user.appendChild(song);
            }
            if (received.songs_4_name != "null") {
                const song = document.createTextNode(received.songs_4_name);

                user.appendChild(song);
            }

        } catch(err) {

        }

        const space = document.createTextNode("\n \n");

        user.appendChild(space);
        

        const bubble = document.getElementById("map");
        bubble.appendChild(user);
        
    }
}

</script>
</html>
