{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>

<style type="text/css">

    #logo{
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }

    h1{
        font-family: 'Baloo Chettan 2';
        color: #f62681;
        font-size: 70px;
        text-align: center;
        padding-top: 65px;
        /*padding-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 65%;*/
    }

    #buttonBox{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    .button {
          background-color: white;
          border: none;
          color: black;
          padding: 15px 60px;
          border-radius: 8px;
          white-space: nowrap;
          text-align: center;
          font-family: 'Baloo Chettan 2';
          text-decoration: none;
          display: inline-block;
          font-size: 60px;
    }


</style>




<body style="background-color: #474646">
    <!-- You may change the dimensions of this canvas -->
    
    <div class="container-fluid" style="height: 100vh">
        <div class="row">
            <div class="col" style="height: 3vh">
                <div id="logo">
                    <img src="https://i.ibb.co/TPmC7pR/music-link-logo-2.png" alt="music-link-logo-2" border="0" width="300" height="84">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col"style="height: 17vh">
                <h1>Start by choosing your 3 favorite genres:</h1>
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 22vh">
                <img src="https://i.ibb.co/7SQC88Q/Copy-of-rap-genre.png" id="rap" border="0" height="296" width="296" onclick="changeRap()">
            </div>
            <div class="col">
                <img src="https://i.ibb.co/dmyxF86/pop-genre.png" id="pop" border="0" height="296" width="296" onclick="changePop()">
            </div>
            <div class="col">
                <img src="https://i.ibb.co/N25Vjtv/indie-genre-1.png" id="indie" border="0" height="296" width="296" onclick="changeIndie()">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 22vh">
                <img src="https://i.ibb.co/swZYN5P/edm-genre.png" alt="edm-genre" border="0" height="296" width="296">
            </div>
            <div class="col">
                <img src="https://i.ibb.co/HYcCXq2/rock-genre.png" alt="rock-genre" border="0" height="296" width="296">
            </div>
            <div class="col">
                <img src="https://i.ibb.co/rb4cfbX/r-b-genre.png" alt="r-b-genre" border="0" height="296" width="296">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 22vh">
                <img src="https://i.ibb.co/SVzPnQ6/jazz-genre-1.png" alt="jazz-genre-1" border="0" height="296" width="296">
            </div>
            <div class="col">
                <img src="https://i.ibb.co/2NNpMcF/country-genre.png" alt="country-genre" border="0" height="296" width="296">
            </div>
            <div class="col">
                <img src="https://i.ibb.co/r2ngf84/punk-genre.png" alt="punk-genre" border="0" height="296" width="296">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 14vh">
                <div id="buttonBox">
                    <form action="/" method="get">
                        <button class="button" id="next" formaction="/draw/rap_artists" type="submit">Done</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

<script type="text/javascript">
    
        function changeRap() {
            var rap_src = "https://i.ibb.co/7SQC88Q/Copy-of-rap-genre.png";
            var rap_select = "https://i.ibb.co/yy23y1h/rap-select.png";
            //<img src="https://i.ibb.co/yy23y1h/rap-select.png" alt="rap-select" border="0">
    
            var image = document.getElementById('rap');
            if (image.src.match(rap_src)) {
                image.src = rap_select;
            }
            else {
                image.src = rap_src;
            }
            sessionStorage.setItem("Genre_1_name", "rap");
            sessionStorage.setItem("Genre_1_src", rap_src);
        }
    
        function changePop() {
            var pop_src = "https://i.ibb.co/dmyxF86/pop-genre.png";
            var pop_select = "https://i.ibb.co/D44pV9W/pop-select.png";
            //<img src="https://i.ibb.co/D44pV9W/pop-select.png" alt="pop-select" border="0">
            var image = document.getElementById('pop');
            if (image.src.match(pop_src)) {
                image.src = pop_select;
            }
            else {
                image.src = pop_src;
            }
            sessionStorage.setItem("Genre_2_name", "pop");
            sessionStorage.setItem("Genre_2_src", pop_src);
        }
    
        function changeIndie() {
            var ind_src = "https://i.ibb.co/N25Vjtv/indie-genre-1.png";
            var ind_select = "https://i.ibb.co/MP7CGSQ/indie-select.png"
            //<img src="https://i.ibb.co/MP7CGSQ/indie-select.png" alt="indie-select" border="0">       
            var image = document.getElementById('indie');
            if (image.src.match(ind_src)) {
                image.src = ind_select;
            }
            else {
                image.src = ind_src;
            }
            sessionStorage.setItem("Genre_3_name", "indie");
            sessionStorage.setItem("Genre_3_src", ind_src);
        }
    
        var next = document.getElementById("next");
        if (next.addEventListener) {
            next.addEventListener("click", clickFunction, false);
        } 
        else if (next.attachEvent) {
            next.attachEvent('onclick', clickFunction);
        }
        function clickFunction() {
            if (sessionStorage.getItem("Genre_1_name") == "rap") {
                $('#next').attr('formaction', '/draw/rap_artists')
            }
            else if (sessionStorage.getItem("Genre_2_name") == "pop") {
                $('#next').attr('formaction', '/draw/pop_artists')
            }
            else if (sessionStorage.getItem("Genre_3_name") == "indie") {
                $('#next').attr('formaction', '/draw/indie_artists')
            }
            else {
                $('#next').attr('formaction', '/draw/version')
            }
        }
    
    </script>

</html>

<!-- <div class="container-fluid" style="height: 100vh"> 
        <div class="row">
            <div class="col" style="height: 5vh"></div>
            <div class="w-100"></div>
            <div class="col bg-warning"style="height: 20vh"></div>
            <div class="col bg-success" style="height: 25vh"></div>
            <div class="col bg-primary"></div>
            <div class="col bg-success"></div>
            <div class="w-100"></div>
            <div class="col bg-dark" style="height: 25vh"></div>
            <div class="col bg-info"></div>
            <div class="col bg-dark"></div>
            <div class="w-100"></div>
            <div class="col bg-success" style="height: 25vh"></div>
            <div class="col bg-primary"></div>
            <div class="col bg-success"></div>
            <div class="w-100"></div>
        </div>
    </div>
 -->