{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>

<style type="text/css">

    #logo{
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }

    h1{
        font-family: 'Baloo Chettan 2';
        color: #f62681;
        font-size: 70px;
        text-align: center;
        padding-top: 65px;
        /*padding-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 65%;*/
    }

    #buttonBox{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .button {
          background-color: white;
          border: none;
          color: black;
          padding: 15px 60px;
          border-radius: 8px;
          white-space: nowrap;
          text-align: center;
          font-family: 'Baloo Chettan 2';
          text-decoration: none;
          display: inline-block;
          font-size: 60px;
    }


</style>

<script type="text/javascript">
    function changeLana() {
        var lana_src = "https://i.ibb.co/kG7LVgD/lana.png";
        var lana_select = "https://i.ibb.co/G9dFMNw/lana-select.png";
        //<img src="https://i.ibb.co/BrQLS7M/glass-select.png" alt="glass-select" border="0"></a>
        //<img src="https://i.ibb.co/G9dFMNw/lana-select.png" alt="lana-select" border="0">    
        var image = document.getElementById('lana');
        if (image.src.match(lana_src)) {
            image.src = lana_select;
        }
        else {
            image.src = lana_src;
        }
    }

    function changeClairo() {
        var clairo_src = "https://i.ibb.co/hdQjW7F/clairo.png";
        var clairo_select = "https://i.ibb.co/kyHz8vy/clairo-select.png";
        //<img src="https://i.ibb.co/kyHz8vy/clairo-select.png" alt="clairo-select" border="0">
        var image = document.getElementById('clairo');
        if (image.src.match(clairo_src)) {
            image.src = clairo_select;
        }
        else {
            image.src = clairo_src;
        }
    }


    

</script>


<body style="background-color: #474646">
    <!-- You may change the dimensions of this canvas -->
    
    <div class="container-fluid" style="height: 100vh">
        <div class="row">
            <div class="col" style="height: 3vh">
                <div id="logo">
                    <img src="https://i.ibb.co/TPmC7pR/music-link-logo-2.png" alt="music-link-logo-2" border="0" width="300" height="84">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col"style="height: 14vh">
                <h1>Pick your 2 favorite indie artists:</h1>
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 23vh" align="center">
                <img src="https://i.ibb.co/kG7LVgD/lana.png" id="lana" border="0" width="370" height="370" onclick="changeLana()">
            </div>
            <div class="col" align="center">
                <img src="https://i.ibb.co/hdQjW7F/clairo.png" id="clairo" border="0" width="370" height="370" onclick="changeClairo()">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 23vh" align="center">
                <img src="https://i.ibb.co/YfpxZ4G/arctic.png" alt="arctic" border="0" width="370" height="370">
            </div>
            <div class="col" align="center">
                <img src="https://i.ibb.co/x5RfBbm/phoebe.png" alt="phoebe" border="0" width="370" height="370">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 23vh" align="center">
                <img src="https://i.ibb.co/rsbRtM2/chvrches.png" alt="chvrches" border="0" width="370" height="370">
            </div>
            <div class="col" align="center">
                <img src="https://i.ibb.co/QC5n5nY/lorde.png" alt="lorde" border="0" width="370" height="370">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 14vh">
                <div id="buttonBox">
                    <a href="/draw/album" class="button">V1</a>
                </div>
            </div>
            <div class="col">
                <div id="buttonBox">
                    <a href="/draw/album_variant_two" class="button">V2</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>

<!-- <div class="container-fluid" style="height: 100vh">
        <div class="row">
            <div class="col" style="height: 5vh"></div>
            <div class="w-100"></div>
            <div class="col bg-warning"style="height: 20vh"></div>
            <div class="col bg-success" style="height: 25vh"></div>
            <div class="col bg-primary"></div>
            <div class="col bg-success"></div>
            <div class="w-100"></div>
            <div class="col bg-dark" style="height: 25vh"></div>
            <div class="col bg-info"></div>
            <div class="col bg-dark"></div>
            <div class="w-100"></div>
            <div class="col bg-success" style="height: 25vh"></div>
            <div class="col bg-primary"></div>
            <div class="col bg-success"></div>
            <div class="w-100"></div>
        </div>
    </div>
 -->