{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>

<style type="text/css">

    #logo{
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }

    h1{
        font-family: 'Baloo Chettan 2';
        color: #f62681;
        font-size: 70px;
        text-align: center;
        padding-top: 65px;
        /*padding-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 65%;*/
    }

    #buttonBox{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    .button {
          background-color: white;
          border: none;
          color: black;
          padding: 15px 60px;
          border-radius: 8px;
          white-space: nowrap;
          text-align: center;
          font-family: 'Baloo Chettan 2';
          text-decoration: none;
          display: inline-block;
          font-size: 60px;
    }


</style>




<body style="background-color: #474646">
    <!-- You may change the dimensions of this canvas -->
    
    <div class="container-fluid" style="height: 100vh">
        <div class="row">
            <div class="col" style="height: 3vh">
                <div id="logo">
                    <img src="https://i.ibb.co/TPmC7pR/music-link-logo-2.png" alt="music-link-logo-2" border="0" width="300" height="84">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col"style="height: 14vh">
                <h1>Pick your 2 favorite pop artists:</h1>
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 23vh" align="center">
                <img src="https://i.ibb.co/qpBYrZ6/glass.png" id="glass" border="0" width="370" height="370" onclick="changeGlass()">
            </div>
            <div class="col" align="center">
                <img src="https://i.ibb.co/nmQfCTv/ariana.png" id="ariana" border="0" width="370" height="370" onclick="changeAriana()">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 23vh" align="center">
                <img src="https://i.ibb.co/GRY2wsf/dua-1.png" alt="dua-1" border="0" width="370" height="370">
            </div>
            <div class="col" align="center">
                <img src="https://i.ibb.co/mCrnDHW/michael.png" alt="michael" border="0" width="370" height="370">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 23vh" align="center">
                <img src="https://i.ibb.co/nMH9vpB/jb.png" alt="jb" border="0" width="370" height="370">
            </div>
            <div class="col" align="center">
                <img src="https://i.ibb.co/cyK90Cw/beatles.png" alt="beatles" border="0" width="370" height="370">
            </div>
            <div class="w-100"></div>
            <div class="col" style="height: 14vh">
                <div id="buttonBox">
                    <a href="/draw/indie_artists" id = "next" class="button">Done</a>
                </div>
            </div>
        </div>
    </div>


</body>

<script type="text/javascript">
    function changeGlass() {
        var glass_src = "https://i.ibb.co/qpBYrZ6/glass.png";
        var glass_select = "https://i.ibb.co/BrQLS7M/glass-select.png";
        //<img src="https://i.ibb.co/BrQLS7M/glass-select.png" alt="glass-select" border="0"></a>        
        var image = document.getElementById('glass');
        if (image.src.match(glass_src)) {
            image.src = glass_select;
        }
        else {
            image.src = glass_src;
        }

        sessionStorage.setItem("Pop_Artist_1_name", "Glass");
        sessionStorage.setItem("Pop_Artist_1_src", glass_src);
    }

    function changeAriana() {
        var ari_src = "https://i.ibb.co/nmQfCTv/ariana.png";
        var ari_select = "https://i.ibb.co/N3rFf20/ariana-select.png";
        //<img src="https://i.ibb.co/N3rFf20/ariana-select.png" alt="ariana-select" border="0">
        var image = document.getElementById('ariana');
        if (image.src.match(ari_src)) {
            image.src = ari_select;
        }
        else {
            image.src = ari_src;
        }

        sessionStorage.setItem("Pop_Artist_2_name", "Ariana");
        sessionStorage.setItem("Pop_Artist_2_src", ari_src);
    }

    var next = document.getElementById("next");
    if (next.addEventListener) {
        next.addEventListener("click", clickFunction, false);
    } 
    else if (next.attachEvent) {
        next.attachEvent('onclick', clickFunction);
    }
    function clickFunction() {
         if (sessionStorage.getItem("Genre_3_name") == "indie") {
            $('#next').attr('href', '/draw/indie_artists')
        }
        else {
            $('#next').attr('href', '/draw/version')
        }
    }


    

</script>

</html>

<!-- <div class="container-fluid" style="height: 100vh">
        <div class="row">
            <div class="col" style="height: 5vh"></div>
            <div class="w-100"></div>
            <div class="col bg-warning"style="height: 20vh"></div>
            <div class="col bg-success" style="height: 25vh"></div>
            <div class="col bg-primary"></div>
            <div class="col bg-success"></div>
            <div class="w-100"></div>
            <div class="col bg-dark" style="height: 25vh"></div>
            <div class="col bg-info"></div>
            <div class="col bg-dark"></div>
            <div class="w-100"></div>
            <div class="col bg-success" style="height: 25vh"></div>
            <div class="col bg-primary"></div>
            <div class="col bg-success"></div>
            <div class="w-100"></div>
        </div>
    </div>
 -->